In [1]:
import os
import joblib
import argparse
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

import config
import models
#import optuna.integration.lightgbm as lgb          
#import matplotlib.pyplot as plt
#import seaborn as sns

In [2]:

""" Arrival """
# 1st hour prediction with actual previous hour's AAR
# load selected prediction time data
train_data_arrival_raw = pd.read_csv( os.path.join(config.input_dir, 'arrival_train.csv'), index_col = 0)
train_data_arrival = train_data_arrival_raw[train_data_arrival_raw['taf'] == 6].reset_index(drop = True)            # 맨 처음은 6시간 taf 쓰기
train_data_arrival = train_data_arrival.drop('taf', axis = 1)

In [3]:
time = 2
train_data_arrival

,label,EAD,EDD,year,month,day,hour,DayName,Arpt_cond,P_Airp,...,WSPD_t,WG_t,VIS_t,WC_t,CLA_1LYR_t,BASE_1LYR_t,CLA_2LYR_t,BASE_2LYR_t,CLA_3LYR_t,BASE_3LYR_t
0,3.0,2.0,11.0,2018,1,1,0,1,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
1,0.0,1.0,5.0,2018,1,1,1,1,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
2,0.0,1.0,4.0,2018,1,1,2,1,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
3,2.0,0.0,1.0,2018,1,1,3,1,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
4,18.0,16.0,1.0,2018,1,1,4,1,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26299,11.0,9.0,8.0,2020,12,31,19,4,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
26300,7.0,6.0,6.0,2020,12,31,20,4,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
26301,3.0,3.0,8.0,2020,12,31,21,4,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
26302,6.0,4.0,13.0,2020,12,31,22,4,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0
26303,2.0,1.0,15.0,2020,12,31,23,4,1.0,1.0,...,0.0,0.0,9999.0,0,0,400.0,0,400.0,0,400.0